#!/usr/bin/env bash
HOMEDIR=$HOME/Documents/gh
if [[ -d "$HOMEDIR/orchestras/deno" ]]; then
    read -p "Refresh from Orchestras Template? (y/n) " -n 1 -r && [[ $REPLY =~ ^[Yy]$ ]] && . scripts/deno.sh  || echo "Skipped Refresh." 
else
  echo "Deno template ~/orchestras/deno does not exist. Please clone the orchestras/deno repository first into the 'orchestras' folder in your homedir ($HOME)."
  exit 1
fi

tmp=$(mktemp)
version=$(git tag -l | tail -n 1)
echo "Installing latest version from git tag ($version)..."
jq ".version = \"$version\"" deno.json > "$tmp" && mv "$tmp" deno.json
deno task build

echo "Validating Deno..."
. ./scripts/setup_deno.sh

echo "Installing Dependencies..."
deno install

echo "Compiling Deno Assets"...
make build

echo "Building Docker Images..."
echo "Please run: 'make devcontainer' to build the DevContainer Images"
